/* Selector universal: con el asterisco */
*{
    margin: 0%;
    padding: 0%;

}
/* ---------- Body ---------- */
body{
    background-image: url('../fondo_final.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, sans-serif;
}
/* ---------- Header ----------*/
header {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    padding-top: 1vw;
    text-align: center;
    width: 100vw;

}
/* Titulo */
.container-titulo {
    animation: libros-animacion 5s infinite alternate;
}

.container-titulo > h1 {
    font-size: 2.5vw;
}

.container-titulo > img {
    width: 4vw;
}

@keyframes libros-animacion {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Navbar */
nav {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    text-align: center;
    vertical-align: middle;
    padding: 0.5vw;
}

.casita{
    width: 2.5vw; /*quiza lo achique*/
    vertical-align: -0.3vw;
}
nav > a {
    color: black;
    text-decoration: none;
    margin: 2vw;
    font-size: 2vw; /*quiza lo achique*/
}
/*hover*/
nav > a:hover{
    font-weight: bold;
}

.casita:hover{
    transform: scale(1.1);
}

/* Main */

/* Para que el fixed header no me tape */
main {
    /* padding-top: 2vw;
    padding-bottom: 8vw; */
    margin-top: 2vw;
    padding-bottom: 8vw;
}

.titulo{
    color:brown;
    text-align: center;
    font-size: 2vw;
    /* padding-bottom: 3vw; */
}

.titulo h2{
    font-size: 1.5vw;
    margin: 1vh;
    font-family:'Lucida Sans';
}
.card{
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    width: 25vw;
    height: 70vh;
    text-align: center;
}
.card img{
    width: 25vw;
    height: 70vh;
    border-radius: 5% 5% 5% 5%;
}

.s1{
    display: grid;
    grid-template-columns: repeat(3,minmax(2.5vw,1fr));
    justify-items: center;
    row-gap: 22vh;
    margin: 4vh;
}
/* Puntos de Corte */
@media screen and (max-width:600px) {
   .titulo{
    padding: 1vh;
    font-size: 3vw;
   }
   .titulo h2{
    font-size: 3vw;
    /* margin: 1vh; */
    font-family:'Lucida Sans';
   }
    .s1{
        grid-template-columns:repeat(1, minmax(25vw,1fr));
        padding-bottom: 15vh;
    }
    .card{
        font-size: 4vw;
        width: 45vw;
        height: 30vh;
        padding-bottom: 15vh;
    }
    .card h2{
        font-size: 4.5vw;
    }
    .card img{
        width: 50vw;
        height: 45vh;
    }
    .header{
        flex-direction: column;
        height: 20vh;
    }
   .casita{
        width: 6vw;
   }
   .nav{
        display:flex;
        flex-direction: column;
    }
    .menu{
        font-size: 3vw;
    }
}
/* eventos */
.s2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2vw;
    row-gap: 2vh;
    margin: 2vw;
}
.card2{
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
    padding: 2vw;
}
.card2 > img{
    width: 25vw;
    height: 70vh;
    border-radius: 5% 5% 5% 5%;
}



/* ---------- Footer ---------- */

footer{
    background: linear-gradient(to top, rgb(115, 101, 150), rgb(197, 188, 218)); /* por defecto, de arriba a abajo (to bottom) */
    padding: 1vw 0vw 1vw 0vw;
    text-align: center;
    border-radius: 0%;
}

footer > h4{
    font-size: 1.5vw;
}

footer > p {
    font-size: 1.5vw;
}

footer > div > a > img {
    height: 2vw;
}