/*Fonts LETRA*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}
body {
    background-image: url('../img/font_page/libros_wall.jpg'); /* Imagen de fondo*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /*background-color: #333;*/
    /*color: white;*/
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    animation: libros-animacion 5s infinite alternate;
    
}

header img {
    font-size: 36px;
    animation: libros-animacion 5s infinite alternate;
    
}

/*Animacion transformacion*/

@keyframes libros-animacion {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

nav {
    /*background-color: #444;*/
    /*color: white;*/
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    text-align: center;
    padding: 10px;
}

nav a {
    /*color: white;*/
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: 1.5vw;
}

/*Sombra para la seleccion de las secciones*/
nav > a:hover{
    font-weight: bold;
}

.casita:hover{
    transform: scale(1.1);
}

.contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Estilos para hacer la página responsive */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav {
        font-size: 14px;
    }

    .contenido {
        padding: 10px;
    }
}

/*Diseño pie de pagina*/
footer{
    /*background-color: rgba(0,0,0,0.8);*/
    background: linear-gradient(to top, rgb(115, 101, 150), rgb(197, 188, 218));
    height: 15vh;
    text-align: center;
    /*color: aliceblue;*/
    border-radius: 0%;
    
}

.text-foot{
    padding-top: 8vh;
    font-size: 1vw;
}
